OTIMIZADOR_SYMBOL=PETR4.SA
OTIMIZADOR_SYMBOLS=PETR4.SA,VALE3.SA,ITUB4.SA
OTIMIZADOR_PERIOD=2y
OTIMIZADOR_START_DATE=2015-01-01
OTIMIZADOR_END_DATE=2025-12-31
OTIMIZADOR_INTERVAL=1d
OTIMIZADOR_CACHE_DIR=cache
OTIMIZADOR_RISK_AVERSION=0.35
OTIMIZADOR_MAX_WEIGHT=0.6
OTIMIZADOR_RANDOM_SEED=42
OTIMIZADOR_GA_POPULATION=32
OTIMIZADOR_GA_GENERATIONS=50
OTIMIZADOR_SA_ITERATIONS=250
OTIMIZADOR_SA_INITIAL_TEMPERATURE=1.0
OTIMIZADOR_SA_COOLING_RATE=0.98
